
* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1000px;
    margin: 0 auto;
}

/* 头部样式 */

.navbar-default {
    /* background-color: #24292e; */
}
.blogName {
    color:rgba(255,255,255,0.75);
}









